<!DOCTYPE html>

<html lang="tr">
<head>
    <title>SemiRenk Admin Panel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/AdminCss/style.css">
    <link href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.min.css" rel="stylesheet">

    <link href="~/AdminScripts/summernote/summernote-bs4.css" rel="stylesheet" />
    <link href="~/AdminScripts/summernote/summernote-bs4.min.css" rel="stylesheet" />
    <link href="~/AdminScripts/summernote/summernote-lite.css" rel="stylesheet" />
    <link href="~/AdminScripts/summernote/summernote-lite.min.css" rel="stylesheet" />
    <link href="~/AdminScripts/summernote/summernote.css" rel="stylesheet" />
    <link href="~/AdminScripts/summernote/summernote.min.css" rel="stylesheet" />
    <link rel="icon" href="~/assets/images/admin-panel.png" />

</head>
<body>
    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar" style="background-color: #0f2b46">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <i class="fa fa-bars"></i>
                    <span class="sr-only">Toggle Menu</span>
                </button>
            </div>
            <div class="p-4">
                <h1><a href="/Admin/Kullanici" class="logo"><span style="font-weight: 200; font-style: italic;margin-right:2px;">SemiRenk Admin Panel</span></a></h1>
                <ul class="list-unstyled components mb-5">
                    <li>
                        <a href="@Url.Action("Kullanicilar","Admin")"><span class="fa fa-home mr-3"></span>Kullanıcılar</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Kategoriler","Admin")"><span class="fa fa-home mr-3"></span>Kategoriler</a>

                    </li>
                    
                    <li>
                        <a href="@Url.Action("Urunler","Admin")"><span class="fa fa-home mr-3"></span>Ürünler</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Siparisler","Admin")"><span class="fa fa-home mr-3"></span>Siparişler</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Raporlar","Admin")"><span class="fa fa-home mr-3"></span>Raporlar</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Logout","Security")"><span class="fa fa-home mr-3"></span>Çıkış Yap</a>
                    </li>
                   
                </ul>
            </div>
        </nav>
        @RenderBody()
    </div>


    <script src="~/AdminScripts/jquery.min.js"></script>
    <script src="~/AdminScripts/summernote/summernote-bs4.js"></script>
    <script src="~/AdminScripts/summernote/summernote-bs4.min.js"></script>
    <script src="~/AdminScripts/summernote/summernote-lite.js"></script>
    <script src="~/AdminScripts/summernote/summernote-lite.min.js"></script>
    <script src="~/AdminScripts/summernote/summernote.js"></script>
    <script src="~/AdminScripts/summernote/summernote.min.js"></script>
    <script src="~/AdminScripts/popper.js"></script>
    <script src="~/AdminScripts/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.8/js/dataTables.min.js"></script>
    <script src="~/js/SiparisJs.js"></script>
    <script src="~/AdminScripts/main.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script>
        $(document).ready(function () {
            $('#summernote').summernote();
        });


    </script>
    <script>
        fetch('/api/Admin/Raporlar')
            .then(response => response.json())
            .then(data => {
                var xValues = data.map(item => item.KategoriAdi);
                var yValues = data.map(item => item.TopTutar);
                var barColors = [
                    "#b91d47",
                    "#00aba9",
                    "#2b5797",
                    "#e8c3b9",
                    "#1e7145",
                    "#d3545d",
                    "#33d0c9",
                    "#5570a3",
                    "#f2dbd5",
                    "#3e8f61" 
                ];

                new Chart("pasta", {
                    type: "pie",
                    data: {
                        labels: xValues,
                        datasets: [{
                            backgroundColor: barColors,
                            data: yValues
                        }]
                    },
                    options: {
                        title: {
                            display: true,
                            text: "En Yüksek Satış Yapan 5 Kategori"
                        }
                    }
                });
            })
            .catch(error => console.error('Error:', error));
        
    </script>
    <script> 
        fetch('/api/Admin/SatisRaporlar')
            .then(response => response.json())
            .then(data => {
                var xValues = data.map(item => item.kulAdi);
                var yValues = data.map(item => item.TopTutar);
                var barColors = [
                    "#b91d47",
                    "#00aba9", 
                    "#2b5797", 
                    "#e8c3b9",
                    "#1e7145",
                    "#d3545d", 
                    "#33d0c9", 
                    "#5570a3", 
                    "#f2dbd5", 
                    "#3e8f61" 
                ];

                new Chart("pasta2", {
                    type: "pie",
                    data: {
                        labels: xValues,
                        datasets: [{
                            backgroundColor: barColors,
                            data: yValues
                        }]
                    },
                    options: {
                        title: {
                            display: true,
                            text: "En Yüksek Tutarda Sipariş Veren 5 Kullanıcı"
                        }
                    }
                });
            })
            .catch(error => console.error('Error:', error));   </script>
    
</body>
</html>
